    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand text-primary font-weight-bold" href="/" ><h5>StopForTech & <img src="/images/logo.png" alt="" style="width: 20%;"></h5></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="ollapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Products<span class="sr-only">(current)</span></a>
      {{#if user}}
      <a class="nav-item nav-link" href="/cart">Cart <span class="badge badge-success" id="cart-count">{{cartCount}}</span></a>
      <a class="nav-item nav-link" href="/orders">Orders</a>
      {{/if}}
      {{!-- <a class="nav-item nav-link disabled" href="#">Disabled</a> --}}
    </div>
    {{!-- dropdwon link --}}


<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{#if user}}
      {{user.name}}
      {{else}}
      Account
    {{/if}}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {{#if user}}
    <a class="dropdown-item" href="/logout">Logout</a>


    {{else}}
    <a class="dropdown-item" href="/login">Login</a>

    {{/if}}
  </div>
</nav>
</nav>
</header>