    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">StopForTech</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Categories <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Cart</a>
      <a class="nav-item nav-link" href="#">Orders</a>
      {{!-- <a class="nav-item nav-link disabled" href="#">Disabled</a> --}}
    </div>
    {{!-- dropdwon link --}}

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Account
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/login">Login</a>
    <a class="dropdown-item" href="#">Another action</a>
    {{!-- <a class="dropdown-item" href="#">Something else here</a> --}}
  </div>
</div>


    {{!-- dropdown link --}}
  </div>
</nav>
</nav>
</header>